.mainContainer{
  margin-bottom: 90px;
}
.mainContainer > div div{
  padding: 90px 20px 0 20px;
}
.mainContainer > div div h1{
  padding-bottom: 20px;
  border-bottom: 1px solid #ced6e0;
  font-weight: 500;
}
.mainContainer > div div h4{
  padding-top: 48px;
  font-weight: 400;
}
.mainContainer > div div p{
  font-weight: 300;
  padding: 10px 0 0 0;
}

#section2 div div.priceContainer{
  margin: 0;
  padding: 0;
  text-align: center;
}
#section2 div div.priceContainer div.items{
  margin: 15px;
  padding: 0;
  border: 1px solid #ced6e0;
  width: 120px;
  display: inline-block;
}

#section2 div div.priceContainer div.items h4{
  text-align: center;
  margin: 0;
  padding: 15px 0;
  font-size: 17px;
  font-weight: 500;
}
#section2 div div.priceContainer div.items h5{
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

#section2 div div.priceContainer div.items p{
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 11px;
}

#section2 div div.priceContainer div.items ul{
  list-style: none;
  text-align: center;
  padding: 10px 0 18px 0;
  font-size: 14px;
}
