*{
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
}
p{
  line-height: 20px;
}
.headerAniContainer{
  background-color: #d63031;
  position: relative;
  overflow: hidden;
}

.headerAniContainer > div{
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  line-height: 100vh;
  height: 100vh;
  overflow: hidden;
}
.aniOne{
  background-color: white;
  color: #d63031;
}
.aniTwo{
  background-color: black;
  color: white;
}
.aniThree{
  background-color: #d63031;
  color: black;
}
.aniFour{
  background-color: #d63031;
  color: black;
  -webkit-animation: aniFour 1.125s forwards;
  -ms-animation: aniFour 1.125s forwards;
  -moz-animation: aniFour 1.125s forwards;
  -o-animation: aniFour 1.125s forwards;
  animation: aniFour 1.125s forwards;
}
-webkit-@keyframes aniFour {
  0%{
    height: 100vh
  }
  100%{
    height: 0px;
  }
}
-ms-@keyframes aniFour {
  0%{
    height: 100vh
  }
  100%{
    height: 0px;
  }
}
-moz-@keyframes aniFour {
  0%{
    height: 100vh
  }
  100%{
    height: 0px;
  }
}
-o-@keyframes aniFour {
  0%{
    height: 100vh
  }
  100%{
    height: 0px;
  }
}
@keyframes aniFour {
  0%{
    height: 100vh
  }
  100%{
    height: 0px;
  }
}


.headerAniContainerOver{
  height: 0;
  background-color: #d63031;
  -webkit-animation: headerAniContainerOver 4.5s forwards;
  -ms-animation: headerAniContainerOver 4.5s forwards;
  -moz-animation: headerAniContainerOver 4.5s forwards;
  -o-animation: headerAniContainerOver 4.5s forwards;
  animation: headerAniContainerOver 4.5s forwards;
  -webkit-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
  overflow: hidden;
}

-webkit-@keyframes headerAniContainerOver {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 100vh;
  }
  100%{
    height: 0;
  }
}
-ms-@keyframes headerAniContainerOver {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 100vh;
  }
  100%{
    height: 0;
  }
}
-moz-@keyframes headerAniContainerOver {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 100vh;
  }
  100%{
    height: 0;
  }
}
-o-@keyframes headerAniContainerOver {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 100vh;
  }
  100%{
    height: 0;
  }
}
@keyframes headerAniContainerOver {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 100vh;
  }
  100%{
    height: 0;
  }
}
.headerAniContainerOverBorder{
  border-top: 0px solid black;
  -webkit-animation: headerAniContainerOverBorder 4.5s forwards;
  -ms-animation: headerAniContainerOverBorder 4.5s forwards;
  -moz-animation: headerAniContainerOverBorder 4.5s forwards;
  -o-animation: headerAniContainerOverBorder 4.5s forwards;
  animation: headerAniContainerOverBorder 4.5s forwards;
  -webkit-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
-webkit-@keyframes headerAniContainerOverBorder {
  0%{
    border: none;
  }
  75%{
    border: none;
  }
  76%{
    border-top: 100vh solid black;
  }
  100%{
    border-top: 0 solid black;
  }
}
-ms-@keyframes headerAniContainerOverBorder {
  0%{
    border: none;
  }
  75%{
    border: none;
  }
  76%{
    border-top: 100vh solid black;
  }
  100%{
    border-top: 0 solid black;
  }
}
-moz-@keyframes headerAniContainerOverBorder {
  0%{
    border: none;
  }
  75%{
    border: none;
  }
  76%{
    border-top: 100vh solid black;
  }
  100%{
    border-top: 0 solid black;
  }
}
-o-@keyframes headerAniContainerOverBorder {
  0%{
    border: none;
  }
  75%{
    border: none;
  }
  76%{
    border-top: 100vh solid black;
  }
  100%{
    border-top: 0 solid black;
  }
}
@keyframes headerAniContainerOverBorder {
  0%{
    border: none;
  }
  75%{
    border: none;
  }
  76%{
    border-top: 100vh solid black;
  }
  100%{
    border-top: 0 solid black;
  }
}



/* =========== main part css =========== */
body{
  overflow: hidden;
}

/* Footer */
footer{
  margin: 0;
  padding: 0;
  position: relative;
}
footer div.footerFixed{
  background-color: white;
  position: fixed;
  width: 100%;
  height: 0;
  bottom: 0px;
  left: 0px;
  text-align: center;
  border-top: 1px solid #ced6e0;
  -webkit-animation: footerFixed 1s forwards;
  -ms-animation: footerFixed 1s forwards;
  -moz-animation: footerFixed 1s forwards;
  -o-animation: footerFixed 1s forwards;
  animation: footerFixed 1s forwards;
}
-webkit-@keyframes footerFixed {
  0%{
    height: 0;
  }
  100%{
    height: 80px;
  }
}
-ms-@keyframes footerFixed {
  0%{
    height: 0;
  }
  100%{
    height: 80px;
  }
}
-moz-@keyframes footerFixed {
  0%{
    height: 0;
  }
  100%{
    height: 80px;
  }
}
-o-@keyframes footerFixed {
  0%{
    height: 0;
  }
  100%{
    height: 80px;
  }
}
@keyframes footerFixed {
  0%{
    height: 0;
  }
  100%{
    height: 80px;
  }
}
footer .footerFixed div{
  display: inline-block;
  margin: 20px 6.3% 20px 6.3%;
  border: 1px solid white;
  background-color: white;
  color: #ced6e0;
  width: 38px;
  height: 38px;
}
footer .footerFixed div:hover{
  -webkit-transition: 0.4s;
  -ms-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: #d63031;
  border: 1px solid white;
}
footer .footerFixed div img{
  width: 28px;
  height: 28px;
  padding: 5px;
}
