*{
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}
.headerAniContainer{
  background-color: #d63031;
  position: relative;
  z-index: 10;
}

.headerAniContainer > div{
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  line-height: 100vh;
  height: 100vh;
  overflow: hidden;
}
.aniOne{
  background-color: white;
  color: #d63031;
  -webkit-animation: aniOne 4.5s step-end forwards;
  -ms-animation: aniOne 4.5s step-end forwards;
  -moz-animation: aniOne 4.5s step-end forwards;
  -o-animation: aniOne 4.5s step-end forwards;
  animation: aniOne 4.5s step-end forwards;
}
.aniTwo{
  background-color: black;
  color: white;
  -webkit-animation: aniTwo 4.5s step-end forwards;
  -ms-animation: aniTwo 4.5s step-end forwards;
  -moz-animation: aniTwo 4.5s step-end forwards;
  -o-animation: aniTwo 4.5s step-end forwards;
  animation: aniTwo 4.5s step-end forwards;
}
.aniThree{
  background-color: #d63031;
  color: black;
  -webkit-animation: aniThree 4.5s step-end forwards;
  -ms-animation: aniThree 4.5s step-end forwards;
  -moz-animation: aniThree 4.5s step-end forwards;
  -o-animation: aniThree 4.5s step-end forwards;
  animation: aniThree 4.5s step-end forwards;
}
.aniFour{
  background-color: #d63031;
  color: black;
  -webkit-animation: header 4.5s step-end forwards;
  -ms-animation: header 4.5s step-end forwards;
  -moz-animation: header 4.5s step-end forwards;
  -o-animation: header 4.5s step-end forwards;
  animation: header 4.5s step-end forwards;
}
.headerAniContainerOver{
  height: 0;
  background-color: #d63031;
  -webkit-animation: headerAniContainerOver 4.5s forwards;
  -ms-animation: headerAniContainerOver 4.5s forwards;
  -moz-animation: headerAniContainerOver 4.5s forwards;
  -o-animation: headerAniContainerOver 4.5s forwards;
  animation: headerAniContainerOver 4.5s forwards;
  -webkit-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
  overflow: hidden;
}
-webkit-@keyframes aniOne {
  0%{
    height: 100vh;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 0;
  }
  100%{
    height: 0;
  }
}
-ms-@keyframes aniOne {
  0%{
    height: 100vh;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 0;
  }
  100%{
    height: 0;
  }
}
-moz-@keyframes aniOne {
  0%{
    height: 100vh;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 0;
  }
  100%{
    height: 0;
  }
}
-o-@keyframes aniOne {
  0%{
    height: 100vh;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 0;
  }
  100%{
    height: 0;
  }
}
@keyframes aniOne {
  0%{
    height: 100vh;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 0;
  }
  100%{
    height: 0;
  }
}
-webkit-@keyframes aniTwo {
  0%{
    height: 0;
  }
  25%{
    height: 100vh;
  }
  50%{
    height: 0;
  }
  75%{
    height: 0;
  }
  100%{
    height: 0;
  }
}
-ms-@keyframes aniTwo {
  0%{
    height: 0;
  }
  25%{
    height: 100vh;
  }
  50%{
    height: 0;
  }
  75%{
    height: 0;
  }
  100%{
    height: 0;
  }
}
-moz-@keyframes aniTwo {
  0%{
    height: 0;
  }
  25%{
    height: 100vh;
  }
  50%{
    height: 0;
  }
  75%{
    height: 0;
  }
  100%{
    height: 0;
  }
}
-o-@keyframes aniTwo {
  0%{
    height: 0;
  }
  25%{
    height: 100vh;
  }
  50%{
    height: 0;
  }
  75%{
    height: 0;
  }
  100%{
    height: 0;
  }
}
@keyframes aniTwo {
  0%{
    height: 0;
  }
  25%{
    height: 100vh;
  }
  50%{
    height: 0;
  }
  75%{
    height: 0;
  }
  100%{
    height: 0;
  }
}

-webkit-@keyframes aniThree {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 100vh;
  }
  75%{
    height: 0;
  }
  100%{
    height: 0;
  }
}
-ms-@keyframes aniThree {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 100vh;
  }
  75%{
    height: 0;
  }
  100%{
    height: 0;
  }
}
-moz-@keyframes aniThree {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 100vh;
  }
  75%{
    height: 0;
  }
  100%{
    height: 0;
  }
}
-o-@keyframes aniThree {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 100vh;
  }
  75%{
    height: 0;
  }
  100%{
    height: 0;
  }
}
@keyframes aniThree {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 100vh;
  }
  75%{
    height: 0;
  }
  100%{
    height: 0;
  }
}

-webkit-@keyframes header {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 100vh;
  }
  100%{
    height: 0;
  }
}
-ms-@keyframes header {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 100vh;
  }
  100%{
    height: 0;
  }
}
-moz-@keyframes header {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 100vh;
  }
  100%{
    height: 0;
  }
}
-o-@keyframes header {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 100vh;
  }
  100%{
    height: 0;
  }
}
@keyframes header {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 100vh;
  }
  100%{
    height: 0;
  }
}

-webkit-@keyframes headerAniContainerOver {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 100vh;
  }
  100%{
    height: 0;
  }
}
-ms-@keyframes headerAniContainerOver {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 100vh;
  }
  100%{
    height: 0;
  }
}
-moz-@keyframes headerAniContainerOver {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 100vh;
  }
  100%{
    height: 0;
  }
}
-o-@keyframes headerAniContainerOver {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 100vh;
  }
  100%{
    height: 0;
  }
}
@keyframes headerAniContainerOver {
  0%{
    height: 0;
  }
  25%{
    height: 0;
  }
  50%{
    height: 0;
  }
  75%{
    height: 100vh;
  }
  100%{
    height: 0;
  }
}
.headerAniContainerOverBorder{
  border-top: 0px solid black;
  -webkit-animation: headerAniContainerOverBorder 4.5s forwards;
  -ms-animation: headerAniContainerOverBorder 4.5s forwards;
  -moz-animation: headerAniContainerOverBorder 4.5s forwards;
  -o-animation: headerAniContainerOverBorder 4.5s forwards;
  animation: headerAniContainerOverBorder 4.5s forwards;
  -webkit-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
-webkit-@keyframes headerAniContainerOverBorder {
  0%{
    border: none;
  }
  75%{
    border: none;
  }
  76%{
    border-top: 100vh solid black;
  }
  100%{
    border-top: 0 solid black;
  }
}
-ms-@keyframes headerAniContainerOverBorder {
  0%{
    border: none;
  }
  75%{
    border: none;
  }
  76%{
    border-top: 100vh solid black;
  }
  100%{
    border-top: 0 solid black;
  }
}
-moz-@keyframes headerAniContainerOverBorder {
  0%{
    border: none;
  }
  75%{
    border: none;
  }
  76%{
    border-top: 100vh solid black;
  }
  100%{
    border-top: 0 solid black;
  }
}
-o-@keyframes headerAniContainerOverBorder {
  0%{
    border: none;
  }
  75%{
    border: none;
  }
  76%{
    border-top: 100vh solid black;
  }
  100%{
    border-top: 0 solid black;
  }
}
@keyframes headerAniContainerOverBorder {
  0%{
    border: none;
  }
  75%{
    border: none;
  }
  76%{
    border-top: 100vh solid black;
  }
  100%{
    border-top: 0 solid black;
  }
}



/* =========== main part css =========== */
body{
  height: 100vh;
  overflow-y: hidden;
  z-index: 0;
}

.mainContainer > div div{
  padding: 90px 20px 0 20px;
}
.mainContainer > div div h1{
  padding-bottom: 20px;
  border-bottom: 1px solid #ced6e0;
  font-weight: 500;
}
.mainContainer > div div h4{
  padding-top: 48px;
  font-weight: 400;
}
.mainContainer > div div p{
  font-weight: 300;
}


/* Footer */
footer{
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 3;
}
footer div.footerFixed{
  background-color: white;
  position: fixed;
  width: 100%;
  height: 0;
  bottom: 0px;
  left: 0px;
  text-align: center;
  border-top: 1px solid #ced6e0;
  -webkit-animation: footerFixed 1s forwards;
  -ms-animation: footerFixed 1s forwards;
  -moz-animation: footerFixed 1s forwards;
  -o-animation: footerFixed 1s forwards;
  animation: footerFixed 1s forwards;
  -webkit-animation-delay: 4.5s;
  -ms-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  -o-animation-delay: 4.5s;
  animation-delay: 4.5s;
}
-webkit-@keyframes footerFixed {
  0%{
    height: 0;
  }
  100%{
    height: 80px;
  }
}
-ms-@keyframes footerFixed {
  0%{
    height: 0;
  }
  100%{
    height: 80px;
  }
}
-moz-@keyframes footerFixed {
  0%{
    height: 0;
  }
  100%{
    height: 80px;
  }
}
-o-@keyframes footerFixed {
  0%{
    height: 0;
  }
  100%{
    height: 80px;
  }
}
@keyframes footerFixed {
  0%{
    height: 0;
  }
  100%{
    height: 80px;
  }
}
footer .footerFixed button{
  display: inline-block;
  margin: 20px 6.3% 20px 6.3%;
  border: 1px solid #ced6e0;
  background-color: white;
  color: #ced6e0;
  width: 38px;
  height: 38px;
}
footer .footerFixed button:hover{
  -webkit-transition: 0.4s;
  -ms-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: #d63031;
  border: 1px solid white;
}
footer .footerFixed button img{
  width: 28px;
  height: 28px;
  padding: 5px;
}
